<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>Hər vaxtın xeyir, @User.Identity.Name</span>
                        <a asp-controller="Account" asp-action="SignOut" class="btn btn-link">Hesabdan çıx</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Register" class="btn btn-link">Qeydiyyatdan keç</a>
                        <a asp-controller="Account" asp-action="SignIn" class="btn btn-link">Giriş</a>
                    }
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>

